/* Default */

html {
	height:100%;
}
html * {
	max-height:1000000px;
}
body {
	min-width:1000px;
	width:100%;
	height:100%;
	color:#000000;
	font-size:12px;
	line-height:16px;
	font-family:'Arial', sans-serif;
	padding:0;
	margin:0;
	background:#ffffff;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 16px;
}
table {
	margin:0 0 16px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#000000;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#000000;
	font-size:12px;
	font-family:'Arial', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
textarea {
	overflow:auto;
}
button {
	font-family:'Arial', sans-serif;
	margin:0;
	border:0;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder {
	color:#b2b2b2;
}
:-moz-placeholder {
	color:#b2b2b2;
}
::-moz-placeholder {
	color:#b2b2b2;
}
:-ms-input-placeholder {
	color:#b2b2b2;
}
.wrapper {
	position:relative;
	z-index:1;
	min-height:100%;
	margin:0 auto;
}
.bg {
	overflow:hidden;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.bg video {
	position:absolute;
}

/* Core */

.header {
	position:relative;
	min-height:70px;
	text-align:center;
	padding:34px 243px 30px 171px;
	margin:0 0 60px;
	background:#ffffff;
}
.header img {
	position:absolute;
	left:40px;
	top:14px;
}
.header ul {
	display:inline-block;
	text-align:left;
	margin:0;
}
.header ul li {
	display:inline-block;
	vertical-align:top;
	margin:0 -1px 4px 2px;
}
.header ul li a {
	display:block;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
	text-align:left;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 15px;
	border:3px solid transparent;
}
.header ul li a:hover {
	border:3px solid #000000;
}
.header > div {
	position:absolute;
	right:40px;
	top:21px;
	text-align:right;
}
.header > div h5 {
	font-size:20px;
	line-height:24px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.header > div p {
	font-size:18px;
	line-height:22px;
	margin:0;
}
.header > div button {
	color:#ffffff;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	padding:7px 17px 7px 16px;
	margin:10px 0 0;
	background:#b6c923;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.title {
	width:960px;
	margin:0 auto 46px;
}
.title h6 {
	display:inline-block;
	color:#ffffff;
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	font-style:italic;
	padding:8px 20px 10px;
	margin:0;
	background:#839afc;
}
.title h1 {
	font-size:24px;
	line-height:28px;
	text-align:center;
	text-transform:uppercase;
	padding:23px 20px 22px;
	margin:0;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.8);
}
.picture {
	width:944px;
	padding:8px;
	margin:0 auto 66px;
	background:#ffffff;
}
.picture img {
	width:100%;
	height:auto;
	margin:0 0 -4px;
}
.information {
	width:920px;
	padding:23px 20px 11px;
	margin:0 auto 46px;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.8);
}
.information h5 {
	font-size:18px;
	line-height:22px;
	padding:0;
	margin:-1px 0 11px;
}
.information p {
	font-size:16px;
	line-height:20px;
	margin:0 0 10px;
}
.information p a {
	font-weight:bold;
}
.carousel {
	position:relative;
	width:944px;
	height:251px;
	padding:8px;
	margin:66px auto 64px;
	background:#ffffff;
}
.carousel .jcarousel-container, .carousel .jcarousel-clip {
	clear:both;
	overflow:hidden;
	width:944px;
	height:251px;
}
.carousel .jcarousel-item {
	float:left;
	width:310px;
	height:251px;
	margin:0 7px 0 0;
}
.carousel .jcarousel-item:last-child {
	margin-right:0;
}
.carousel .jcarousel-prev, .carousel .jcarousel-next {
	position:absolute;
	top:50%;
	display:block;
	width:29px;
	height:57px;
	cursor:pointer;
	margin-top:-29px;
}
.carousel .jcarousel-prev {
	left:17px;
	background:url('../img/carousel_prev.png') no-repeat left top;
}
.carousel .jcarousel-next {
	right:17px;
	background:url('../img/carousel_next.png') no-repeat left top;
}
.navigation {
	width:960px;
	text-align:center;
	margin:0 auto 66px;
}
.navigation li {
	display:inline-block;
	width:227px;
	margin:0 0 0 13px;
}
.navigation li:first-child {
	margin-left:0;
}
.navigation li a {
	display:block;
	color:#ffffff;
	font-size:16px;
	line-height:20px;
	font-style:italic;
	text-decoration:none;
	white-space:nowrap;
}
.navigation li a.back {
	text-align:right;
	padding:8px 27px 8px 69px;
	background:#b6c923 url('../img/back_arrow.png') no-repeat 29px 10px;
}
.navigation li a.next {
	padding:8px 57px 8px 16px;
	background:#b6c923 url('../img/next_arrow.png') no-repeat 175px 10px;
}
.clear {
	clear:both;
	overflow:hidden;
	height:134px;
}
.footer {
	position:relative;
	z-index:2;
	height:103px;
	text-align:center;
	padding:31px 0 0;
	margin:-134px 0 0;
	background:#ffffff;
}
.footer img {
	position:absolute;
	left:40px;
	top:14px;
}
.footer > p {
	width:480px;
	font-size:18px;
	line-height:22px;
	margin:0 auto;
}
.footer > h5 {
	width:480px;
	font-size:20px;
	line-height:24px;
	padding:0;
	margin:0 auto;
}
.footer > div {
	position:absolute;
	right:40px;
	top:21px;
	text-align:right;
}
.footer > div h5 {
	font-size:20px;
	line-height:24px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.footer > div p {
	font-size:18px;
	line-height:22px;
	margin:0;
}
.footer > div button {
	color:#ffffff;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	padding:7px 17px 7px 16px;
	margin:10px 0 0;
	background:#b6c923;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
@media screen and (max-width: 1100px) {
	.header {
		padding:34px 223px 30px 151px;
	}
	.header img {
		left:20px;
	}
	.header > div {
		right:20px;
	}
	.footer img {
		left:20px;
	}
	.footer > div {
		right:20px;
	}
}
.catalog {
	overflow:hidden;
	margin:-60px 0 0;
}
.catalog ul {
	clear:both;
	overflow:hidden;
	width:110%;
	margin:0 0 -4px;
}
.catalog ul li {
	overflow:hidden;
	position:relative;
	float:left;
	width:25%;
	height:297px;
	margin:0 0 4px;
}
.catalog ul li img {
	display:none;
}
.catalog ul li h6 {
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	color:#ffffff;
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	font-style:italic;
	white-space:nowrap;
	padding:8px 20px 10px;
	margin:0;
}
.catalog ul li .pre {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	padding:15px 0 17px;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.6);
}
.catalog ul li .pre h5 {
	min-height:44px;
	font-size:18px;
	line-height:22px;
	font-weight:normal;
	text-transform:uppercase;
	padding:0;
	margin:0 16px 0 20px;
}
.catalog ul li .full {
	position:absolute;
	left:0;
	top:297px;
	z-index:5;
	width:100%;
	height:297px;
}
.catalog ul li .full:after {
	content:'';
	position:absolute;
	left:50%;
	bottom:0;
	margin-left:-21px;
	border-left:21px solid transparent;
	border-right:21px solid transparent;
	border-bottom:18px solid #ffffff;
}
.catalog ul li .full a {
	display:block;
	height:297px;
	color:#ffffff;
	text-decoration:none;
}
.catalog ul li .full p {
	position:absolute;
	top:50%;
	color:#ffffff;
	font-size:22px;
	line-height:26px;
	text-align:center;
	margin:0 20px;
}
.catalog ul li.t1 h6 {
	background:rgb(1,133,44);
}
.catalog ul li.t1 .full {
	background:rgb(1,133,44);
	background:rgba(1,133,44,0.6);
}
.catalog ul li.t2 h6 {
	background:rgb(164,164,164);
}
.catalog ul li.t2 .full {
	background:rgb(164,164,164);
	background:rgba(164,164,164,0.6);
}
.catalog ul li.t3 h6 {
	background:rgb(131,154,252);
}
.catalog ul li.t3 .full {
	background:rgb(131,154,252);
	background:rgba(131,154,252,0.6);
}
.catalog ul li.t4 h6 {
	background:rgb(247,190,37);
}
.catalog ul li.t4 .full {
	background:rgb(247,190,37);
	background:rgba(247,190,37,0.6);
}
.catalog ul li.t5 h6 {
	background:rgb(0,202,190);
}
.catalog ul li.t5 .full {
	background:rgb(0,202,190);
	background:rgba(0,202,190,0.6);
}
.catalog ul li.t6 h6 {
	background:rgb(182,201,35);
}
.catalog ul li.t6 .full {
	background:rgb(182,201,35);
	background:rgba(182,201,35,0.6);
}
.catalog ul li.t7 h6 {
	background:rgb(132,217,252);
}
.catalog ul li.t7 .full {
	background:rgb(132,217,252);
	background:rgba(132,217,252,0.6);
}
@media screen and (max-width: 1260px) {
	.catalog ul li .full p {
		font-size:18px;
		line-height:22px;
		margin:0 20px;
	}
}
.fade {
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	width:100%;
	height:100%;
	background:url('../img/fade_bg.png') repeat;
}
.modal {
	display:none;
	position:absolute;
	left:50%;
	top:100px;
	z-index:1010;
	width:368px;
	padding:32px 126px 24px;
	margin-left:-310px;
	background:#ffffff;
}
.modal .close {
	position:absolute;
	right:2px;
	top:2px;
	width:21px;
	height:22px;
	cursor:pointer;
	background:url('../img/modal_close.png') no-repeat center center;
}
.modal h5 {
	font-size:18px;
	line-height:24px;
	font-weight:normal;
	text-transform:uppercase;
	padding:0;
	margin:0 0 22px;
}
.modal p {
	font-size:14px;
	line-height:18px;
	margin:0 0 12px;
}
.modal p i {
	display:block;
	margin:0 0 5px;
}
.modal p input, .modal p textarea {
	width:100%;
	font-size:14px;
	padding:14px 15px 15px;
	background:#f2f2f2;
}
.modal p textarea {
	resize:vertical;
	margin:0 0 -4px;
}
.modal button {
	color:#ffffff;
	font-size:14px;
	line-height:18px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	padding:7px 17px 7px 16px;
	margin:10px 0 12px;
	background:#b6c923;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}